.hidden {
  display: none;
}

body {
    background: url(neighborhood.jpg);
}

.masthead {
  height 20vh;
  min-height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(33, 148, 146, 0.673);
  box-shadow: 5px 10px;
}
body{
}

form {
  margin-top: 30px;
  width: auto;
  content: auto;
  outline: 2px solid rgba(33, 148, 146, 0.673)

}

button {
  text-align: center;
}